body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    .title {
        text-align: center;
    }
}

main {
    .mew-form {
        width: 50%;
        margin: 0 auto;
    }

    .loading {
        text-align: center;
        img {
            height: auto;
            width: 10%;
        }
    }
}
