body {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(126px, auto);
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-size: 1vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52002f), color-stop(#34011e), color-stop(#3f0024), color-stop(#7c0046), to(#a90060));
  background-image: linear-gradient(#52002f, #34011e, #3f0024, #7c0046, #a90060);
  font-family: "Merriweather", serif;
}

nav {
  position: fixed;
  width: 100%;
  color: white;
  background-color: #a90060;
  height: 5%;
  font-size: 2em;
  z-index: 1;
}

nav #nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

nav img {
  width: 25px;
  height: 25px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  color: white;
  text-decoration: none;
  text-align: center;
}

main .logo {
  width: 87%;
  margin-top: 3%;
}

main .main-content {
  margin-bottom: 3%;
  width: 87%;
  border: 2px solid #d36000;
  text-align: center;
  background-color: #a90060;
  text-decoration: none;
}

main a {
  color: white;
}

main img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.tickets-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  color: white;
  text-align: center;
}

.tickets-section .ticket-option {
  background-color: #7c0046;
  margin-bottom: 3%;
  width: 87%;
}

.tickets-section .ticket-option h2 {
  border-top: 1.5px solid #3f0024;
}

.tickets-section .vip-ticket-optoin ul {
  border-top: 1.5px solid #3f0024;
}

.tickets-section .buy-button,
.tickets-section .all-ticket-options-button {
  background-color: #d36000;
  border: 3px solid #670000;
  margin-bottom: 3%;
  width: 87%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-section {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/ 1 / 5 / 2;
  color: white;
  text-align: center;
}

footer form {
  display: block;
}

footer .logo {
  width: 55%;
}

footer .fab {
  text-align: center;
  background-color: #d36000;
  width: 30px;
  padding: 20px;
  font-size: 2em;
  color: white;
  border-radius: 50%;
}

footer .fab:hover {
  background-color: #7c0046;
}
/*# sourceMappingURL=style.css.map */