* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: minmax(126px, auto);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#52002f), color-stop(#34011e), color-stop(#3f0024), color-stop(#7c0046), to(#a90060));
  background-image: linear-gradient(#52002f, #34011e, #3f0024, #7c0046, #a90060);
  font-family: "Merriweather", serif;
}

nav {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 5vh;
  z-index: 1;
  background-color: #a90060;
}

nav .toggler {
  position: absolute;
  height: 100%;
  width: 10%;
  left: 0;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

nav .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

nav .toggler:checked + .hamburger > div::before,
nav .toggler:checked + .hamburger > div::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

nav .toggler:checked ~ .menu {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .hamburger {
  width: 25px;
  padding: 1vh;
  z-index: 2;
}

nav .hamburger div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: white;
  top: 1vh;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .hamburger div::before,
nav .hamburger div::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
  top: -5px;
}

nav .hamburger div::after {
  top: 5px;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  line-height: 3rem;
  background-color: #34011e94;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

nav .menu div ul li {
  color: white;
  list-style: none;
  text-align: center;
}

nav .menu div a {
  color: white;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/2/2;
  color: white;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
}

main .logo {
  width: 87%;
  margin-top: 10%;
}

main .main-content {
  margin-bottom: 3%;
  width: 87%;
  border: 2px solid #d36000;
  text-align: center;
  background-color: #a90060;
  text-decoration: none;
}

main a {
  color: white;
}

main img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.tickets-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  color: white;
  text-align: center;
}

.tickets-section .ticket-option {
  background-color: #7c0046;
  margin-bottom: 3%;
  width: 87%;
}

.tickets-section .ticket-option h2 {
  border-top: 1.5px solid #3f0024;
}

.tickets-section .vip-ticket-option ul {
  border-top: 1.5px solid #3f0024;
  list-style: none;
}

.tickets-section .buy-button,
.tickets-section .all-ticket-options-button {
  background-color: #d36000;
  border: 3px solid #670000;
  margin-bottom: 3%;
  width: 87%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-section {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/ 1 / 5 / 2;
  color: white;
  text-align: center;
}

footer form {
  display: block;
}

footer .logo {
  width: 55%;
}

footer .fab {
  text-align: center;
  background-color: #d36000;
  width: 30px;
  padding: 20px;
  font-size: 2em;
  color: white;
  border-radius: 50%;
}

footer .fab:hover {
  background-color: #7c0046;
}
/*# sourceMappingURL=style.css.map */