.button {
  color: white;
  border: 1px solid rgba(207, 205, 205, 0.541);
  padding: 1em;
  border-radius: 0.7vh;
  background-color: rgba(168, 166, 166, 0.74);
}

.button:focus {
  -webkit-animation: focusAnimation forwards 0.5s ease-in-out;
          animation: focusAnimation forwards 0.5s ease-in-out;
  outline-style: none;
}

.button--state-success {
  color: white;
  padding: 1em 1.5em;
  background-color: #52a752;
}

.button--state-danger {
  color: white;
  background-color: #da7373;
}

.button--state-danger:focus {
  -webkit-animation: dangerAnimation forwards 0.1s ease-in-out;
          animation: dangerAnimation forwards 0.1s ease-in-out;
}

@-webkit-keyframes focusAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes focusAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes dangerAnimation {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: roatate(0deg);
            transform: roatate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes dangerAnimation {
  0% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: roatate(0deg);
            transform: roatate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
  position: fixed;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  border-bottom: 1px solid rgba(128, 128, 128, 0.39);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.938);
}

header div {
  width: 15%;
  height: 10vh;
}

header div .hamburger {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header div .hamburger .hamburger--bar {
  top: 2vh;
  width: 100%;
  height: 10%;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: black;
}

header div .hamburger .hamburger--bar:after {
  top: 2vh;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: inherit;
}

header div .hamburger .hamburger--bar:before {
  top: 4vh;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: inherit;
}

header .logo {
  left: 0;
  width: 85%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .logo a {
  color: black;
  width: 100%;
  height: 25%;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  margin-left: 1vh;
  text-decoration: none;
}

header .menu {
  left: 100%;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  line-height: 10vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(11, 179, 221, 0.822);
}

header .menu ul {
  font-weight: bolder;
  list-style-type: none;
}

header .menu ul li a {
  color: white;
  position: relative;
  text-decoration: none;
}

header .menu ul li a::before {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 2px;
  content: "";
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

header .menu ul li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

header .toggler {
  left: 83%;
  width: 10vh;
  height: 10vh;
  z-index: 2;
  opacity: 0;
  position: absolute;
}

header .toggler:checked ~ div div .menu {
  left: 0;
}

header .toggler:checked ~ div .hamburger .hamburger--bar {
  top: 4vh;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

header .toggler:checked ~ div .hamburger .hamburger--bar::after {
  top: 0vh;
  left: 0vh;
  opacity: 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

header .toggler:checked ~ div .hamburger .hamburger--bar::before {
  top: 0vh;
  left: 0vh;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.home {
  background-image: url(https://images.pexels.com/photos/436784/pexels-photo-436784.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.home .home--content {
  color: white;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.377);
}

.home .home--content .home--content-text {
  margin: 0 auto;
  text-align: center;
  max-width: 50em;
}

.home .home--content .home--content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: 10vh;
}

.home .home--content .home--content-buttons a {
  font-size: 1rem;
  text-decoration: none;
}

.home .home--content .home--content-buttons .button {
  color: white;
  border: none;
  border-radius: 0.7vh;
  margin: 0 auto;
  background-color: #a8a6a6;
}

.home .home--content .home--content-buttons .button:focus {
  -webkit-animation: focusAnimation forwards 0.5s ease-in-out;
          animation: focusAnimation forwards 0.5s ease-in-out;
  outline-style: none;
}

.home .home--content .home--content-buttons .button--state-success {
  background-color: #52a752;
}

@keyframes focusAnimation {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.projects .sectionDivider {
  width: 10vh;
  height: 10vh;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -7vh auto 7vh auto;
  font-size: 5vh;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50% 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.projects .sectionDivider a {
  position: relative;
  -webkit-animation: upDownAnimation infinite alternate ease-out 1s;
          animation: upDownAnimation infinite alternate ease-out 1s;
}

.projects .sectionDivider a i {
  color: black;
  margin-top: -3vh;
  text-decoration: none;
}

@-webkit-keyframes upDownAnimation {
  from {
    top: -2vh;
  }
  to {
    top: 0vh;
  }
}

@keyframes upDownAnimation {
  from {
    top: -2vh;
  }
  to {
    top: 0vh;
  }
}

.projects h1 {
  width: 87%;
  margin: 0 auto;
  padding: 2vh;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1vh;
  -webkit-box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
          box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
}

.projects .projects--content {
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.projects .projects--content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 87%;
  list-style-type: none;
}

.projects .projects--content ul li {
  width: 100%;
  -webkit-box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
          box-shadow: 0vh 2px 5px rgba(0, 0, 0, 0.274);
  margin-bottom: 5vh;
}

.projects .projects--content ul li a {
  color: black;
  text-decoration: none;
}

.projects .projects--content ul li a img {
  width: 100%;
}

.projects .projects--content ul li a h4 {
  color: black;
  width: 100%;
  height: 10%;
  font-size: 1.5rem;
  text-align: left;
  padding-left: 10%;
  letter-spacing: 1vh;
  background-color: #fff;
}

.tools {
  background-image: url(https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.tools h1 {
  width: 87%;
  margin: 0 auto;
  border: 1vh solid white;
  padding: 2vh;
  font-size: 3rem;
  -webkit-animation: headingAnimation 10s infinite alternate ease-in-out;
          animation: headingAnimation 10s infinite alternate ease-in-out;
  text-align: center;
  font-weight: bolder;
  border-radius: 3vh;
  letter-spacing: 1vh;
}

@-webkit-keyframes headingAnimation {
  0% {
    border-radius: 10vh 10vh 10vh 10vh;
  }
  20% {
    border-radius: 10vh 10vh 10vh 10vh;
  }
  40% {
    border-radius: 3vh;
  }
  60% {
    border-radius: 3vh;
  }
  80% {
    border-radius: 0 2vh 0 2vh;
  }
  100% {
    border-radius: 0 2vh 0 2vh;
  }
}

@keyframes headingAnimation {
  0% {
    border-radius: 10vh 10vh 10vh 10vh;
  }
  20% {
    border-radius: 10vh 10vh 10vh 10vh;
  }
  40% {
    border-radius: 3vh;
  }
  60% {
    border-radius: 3vh;
  }
  80% {
    border-radius: 0 2vh 0 2vh;
  }
  100% {
    border-radius: 0 2vh 0 2vh;
  }
}

.tools .tools--content {
  padding-top: 10vh;
  background-color: rgba(11, 179, 221, 0.767);
  height: 120vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tools .tools--content .htmlIcon {
  -webkit-animation: htmlAnimation infinite 10.2s alternate ease-in-out;
          animation: htmlAnimation infinite 10.2s alternate ease-in-out;
}

.tools .tools--content .cssIcon {
  -webkit-animation: cssAnimation infinite 8s alternate ease-in-out;
          animation: cssAnimation infinite 8s alternate ease-in-out;
}

.tools .tools--content .jsIcon {
  -webkit-animation: jsAnimation infinite 13.1s alternate ease-in-out;
          animation: jsAnimation infinite 13.1s alternate ease-in-out;
}

.tools .tools--content .tools--extraContent {
  position: relative;
  border-top: 1vh dashed white;
}

.tools .tools--content .tools--extraContent:before {
  position: absolute;
  left: 0;
  top: -1vh;
  content: "";
  width: 45%;
  height: 1vh;
  background-color: #fff;
  -webkit-animation: toolsDividerAnimation infinite forwards 5s cubic-bezier(1, 0.1, 1, 1);
          animation: toolsDividerAnimation infinite forwards 5s cubic-bezier(1, 0.1, 1, 1);
}

@-webkit-keyframes toolsDividerAnimation {
  0% {
    left: -50%;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    left: 77%;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

@keyframes toolsDividerAnimation {
  0% {
    left: -50%;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    left: 77%;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
}

.tools .tools--content .tools--extraContent i {
  font-size: 5rem;
  padding: 5vh 2vh;
}

.tools .tools--content ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.tools .tools--content ul li {
  max-width: 320px;
}

.tools .tools--content ul li i {
  font-size: 10rem;
}

@-webkit-keyframes htmlAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: tomato;
  }
}

@keyframes htmlAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: tomato;
  }
}

@-webkit-keyframes cssAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: dodgerblue;
  }
}

@keyframes cssAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: dodgerblue;
  }
}

@-webkit-keyframes jsAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: orange;
  }
}

@keyframes jsAnimation {
  0% {
    color: white;
  }
  20% {
    color: white;
  }
  40% {
    color: white;
  }
  60% {
    color: white;
  }
  100% {
    color: orange;
  }
}

.about {
  padding-top: 10vh;
}

.about .about--content {
  margin: 0 auto;
  padding: 5vh;
  text-align: center;
  max-width: 500px;
}

.about .about--content h1 {
  width: 87%;
  margin: 0 auto;
  padding: 2vh;
  font-size: 3rem;
  text-align: center;
  font-weight: bolder;
  letter-spacing: 1vh;
}

.about .about--content img {
  width: 25vh;
  height: 25vh;
  border-radius: 50% 50%;
}

.contact {
  background-image: url(https://images.pexels.com/photos/2303781/pexels-photo-2303781.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding-top: 10vh;
}

.contact h1 {
  width: 40vh;
  margin: 0 auto;
  padding: 1vh;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 1vh;
  letter-spacing: 1vh;
  background-color: white;
}

.contact form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form input {
  width: 40vh;
  color: #74b5c5;
  border: none;
  padding: 1vh;
  font-size: 1rem;
  border-radius: 1vh;
  margin-bottom: 3vh;
  background-color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact form input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.904);
}

.contact form textarea {
  color: #74b5c5;
  width: 40vh;
  border: none;
  height: 5vh;
  resize: none;
  padding: 1vh;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 1vh;
  margin-bottom: 3vh;
}

.contact form textarea:focus {
  outline: none;
  height: 20vh;
  background-color: rgba(255, 255, 255, 0.904);
}

.contact form button {
  width: 100%;
  font-size: 1rem;
}

.contact .button--state-success {
  color: white;
  border: none;
  padding: 1em;
  max-width: 40vh;
  border-radius: 0.7vh;
}

.contact .button--state-success:focus {
  -webkit-animation: focusAnimation forwards 0.5s ease-in-out;
          animation: focusAnimation forwards 0.5s ease-in-out;
  outline-style: none;
}

.contact .icon {
  width: 4rem;
  height: 4rem;
  margin: 13vh auto 0;
}

.contact .icon a {
  color: #6e5494;
  font-size: 4rem;
  margin-top: -1.4px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  header {
    width: 100%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    -ms-flex-direction: row;
        flex-direction: row;
    background-color: rgba(255, 255, 255, 0.938);
  }
  header .toggler {
    display: none;
  }
  header div {
    width: 15%;
    height: 10vh;
  }
  header div .hamburger {
    width: 100%;
    height: 10vh;
    display: none;
    padding-right: 1vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header div .hamburger .hamburger--bar {
    top: 2vh;
    width: 100%;
    height: 10%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: black;
  }
  header div .hamburger .hamburger--bar:after {
    top: 2vh;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    background-color: inherit;
  }
  header div .hamburger .hamburger--bar:before {
    top: 4vh;
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background-color: inherit;
  }
  header .logo {
    left: 0;
    width: 30%;
    height: 90%;
  }
  header .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: 3vw;
    text-decoration: none;
  }
  header .menu {
    left: 30vw;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 70%;
    height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    font-size: 1.5rem;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    line-height: 10vh;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0);
  }
  header .menu ul {
    font-weight: bolder;
    list-style-type: none;
    overflow: hidden;
  }
  header .menu ul li {
    float: left;
    padding-left: 2vw;
  }
  header .menu ul li a {
    display: block;
    color: black;
    position: relative;
    text-decoration: none;
  }
  header .menu ul li a::before {
    left: 0;
    width: 100%;
    bottom: 35px;
    height: 2px;
    content: "";
    position: absolute;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  header .menu ul li a:hover:before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  header .toggler {
    left: 83%;
    width: 10vh;
    height: 10vh;
    z-index: 2;
    opacity: 0;
    position: absolute;
  }
  header .toggler:checked ~ div div .menu {
    left: 0;
  }
  header .toggler:checked ~ div .hamburger .hamburger--bar {
    top: 4vh;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  header .toggler:checked ~ div .hamburger .hamburger--bar::after {
    top: 0vh;
    left: 0vh;
    opacity: 0;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  header .toggler:checked ~ div .hamburger .hamburger--bar::before {
    top: 0vh;
    left: 0vh;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .projects .projects--content ul li {
    max-width: 328px;
  }
}
/*# sourceMappingURL=style.css.map */