// As hex codes */

$color-primary-0: #ffaa54; // Main Primary color */
$color-primary-1: #ffe2c4;
$color-primary-2: #ffc182;
$color-primary-3: #ff9427;
$color-primary-4: #ff8100;

$color-secondary-1-0: #ffcc54; // Main Secondary color (1) */
$color-secondary-1-1: #ffedc4;
$color-secondary-1-2: #ffd982;
$color-secondary-1-3: #ffbe27;
$color-secondary-1-4: #ffb300;

$color-secondary-2-0: #ff6854; // Main Secondary color (2) */
$color-secondary-2-1: #ffcbc4;
$color-secondary-2-2: #ff9082;
$color-secondary-2-3: #ff4027;
$color-secondary-2-4: #ff1e00;

$purpleMain: #8045cf;

body {
  margin: 0;
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  background-color: white;
  font-family: "Hind", sans-serif;
}

@media only screen and (min-width: 40em) {
  body {
    grid-template-rows: 40em;
  }
}

/************************************ NAVIGATION BAR */

nav,
.subMenu {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  height: 8%;
  margin: -3px auto;
  z-index: 1;
  text-align: center;
}

.subMenu {
  margin-top: 13%;
  z-index: 1;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.363);
  border-bottom: 1px solid #8045cf;
  display: none;
}

.subMenuItem {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 15px;
  font-size: 1.2em;
}

#hamburgerMenu1 {
  border: none;
  float: right;
  background-color: white;
  width: 20%;
  height: 100%;
  font-size: 1.5em;
  i:hover {
    cursor: pointer;
  }
}

#homeBtn {
  float: left;
  display: inline-block;
  width: 20%;
  font-size: 1.8em;
  text-decoration: none;
  padding: 15px 1px;
  color: black;
}

/******************* ABOUT SECTION */

#aboutSection {
  grid-area: 1 / 4 / 2 / 10;
  text-align: center;
  background-color: #8045cf;
  margin-top: 14%;
  border-radius: 25% 25% 0% 0%;
  color: white;
}

#aboutSection img {
  margin: 2% auto;
  display: block;
  border-radius: 500px;
  width: 65%;
  height: auto;
  border: 2px solid #ffffff;
}
